<% if spree_navigation_data.any? %>
  <ul id= "nav-bar" class="nav main-nav-bar justify-content-center">
      <!-- include links to other pages other than categories -->
      <li class="navbar main-nav-bar-dropdown">
        <a href=<%= spree.products_path %>>Shop</a>
      </li>
    <!-- category links -->
    <% spree_navigation_data.each do |root| %>
      <li class="navbar main-nav-bar-dropdown main-nav-bar-category">
        <%= link_to root[:title], root[:url], class: "p-2 main-nav-bar-item main-nav-bar-category-button" %>
        <% if root[:items].present? || root[:promo_banners].present? %>
          <div class="w-100 shadow main-nav-bar-category-dropdown">
            <div class="container p-0 d-flex justify-content-xl-around mx-auto">
              <% if root[:items].present? %>
                <div class="row">
                  <div class="category-links">
                    <% if root[:subtitle].present? %>
                      <div class="category-links-header text-uppercase">
                        <%= root[:subtitle] %>
                      </div>
                    <% end %>
                    <ul class="pl-0">
                      <% root[:items].each do |item| %>
                        <li>
                          <%= link_to item[:title], item[:url], class: "text-uppercase main-nav-bar-category-links" %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
                <% if root[:promo_banners].present? %>
                  <% root[:promo_banners].each do |promo_banner| %>
                    <%= link_to promo_banner[:url] do %>
                      <div class="category-image text-center mx-3">
                        <%= main_nav_image(promo_banner[:image], promo_banner[:title]) %>
                        <div class="category-box">
                          <div class="category-box-small-text">
                            <%= promo_banner[:subtitle] %>
                          </div>
                          <div class="category-box-big-text">
                            <%= promo_banner[:title] %>
                          </div>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <%end %>
      </li>
    <% end %>
    <!-- symbols for search,user,cart -->
    <li>
      <div class="navbar-right-search-menu">
        <button type="button" class="navbar-right-dropdown-toggle search-icons" aria-label="<%= Spree.t('nav_bar.show_search')%>">
          <%= icon(name: 'magnifying-glass',
                   classes: 'd-none d-xl-inline-block',
                   width: 36,
                   height: 36)  %>

          <%= icon(name: 'magnifying-glass',
                   classes: 'd-xl-none',
                   width: 24,
                   height: 24)  %>
        </button>

        <div id="search-dropdown" class="p-0 px-md-4 py-md-2 w-100 shadow navbar-right-search-menu-dropdown hide-on-esc">
          <%= render partial: 'spree/shared/search' %>
        </div>
      </div>
    </li>
    <% if defined?(spree.account_link_path) %>
      <li>
        <div class="dropdown navbar-right-dropdown">
          <button id="account-button" type="button" data-toggle="dropdown" class="navbar-right-dropdown-toggle" aria-label="<%= Spree.t('nav_bar.show_user_menu')%>">
            <%= icon(name: 'person',
                    classes: 'd-none d-xl-inline-block',
                    width: 41.4,
                    height: 36)  %>

            <%= icon(name: 'person',
                    classes: 'd-xl-none',
                    width: 27.6,
                    height: 24)  %>
          </button>

          <div id="link-to-account" class="dropdown-menu dropdown-menu-right text-right">
          </div>
        </div>
      </li>
    <% end %>
    <li id="link-to-cart">
      <%= render 'spree/shared/cart', class: 'd-none d-xl-inline-block cart-icon--xl', size: 36, item_count: 0 %>
      <%= render 'spree/shared/cart', class: 'd-xl-none', size: 24, item_count: 0 %>
    </li>
  </ul>
<% end %>
