<% @body_id = 'home' %>

<div class="homepage-hero-image mb-3 position-relative">
  <img class="lazyload hero-image position-absolute"
    data-src="<%= asset_path('homepage/main_banner.jpg') %>"
    data-srcset="<%= image_source_set('homepage/main_banner') %>"
    alt="perfect nails" />
  <div class="hero-content">
    <div class="homepage-hero-image-text mb-2 mx-auto pb-3 pb-md-4">
      <p>Perfect Nails in no time. 15 nail studio visits in your beauty bag.</p>
    </div>
    <div>
      <%= link_to Spree.t('homepage.shop_now'), spree.products_path, class: 'btn btn-primary spree-btn px-5' %>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="text-center">Unsere Werte</h2>
  <div class="row">
    <div class="col-8 col-md-4 value-card" style="background-image: url('<%= asset_path('homepage/pink_manicure.jpg') %>'); background-size: cover;">
      <div class="value-card-text-container">
        <h2>Authenticity</h2>
        <a href=<%= spree.values_path %>>Mehr erfahren</a>
      </div>
    </div>
    <div class="col-8 col-md-4 value-card" style="background-image: url('<%= asset_path('homepage/two_arms_in_air.jpg') %>'); background-size: cover;">
      <div class="value-card-text-container">
        <h2>Transparency</h2>
        <a href=<%= spree.values_path %>>Mehr erfahren</a>
      </div>
    </div>
    <div class="col-8 col-md-4 value-card" style="background-image: url('<%= asset_path('homepage/woman_with_statue.jpg') %>'); background-size: cover;">
      <div class="value-card-text-container">
        <h2>Eficiency</h2>
        <a href=<%= spree.values_path %>>Mehr erfahren</a>
      </div>
    </div>
  </div>
</div>



  <div class="row">
    <div class="col-12 col-lg-6">

    </div>

    <div class="col-12 col-lg-6">

    </div>
  </div>
</div>
