<!-- <div class="container"> -->
<div class="value-container">
  <div class="plain-banner">
    <div class="plain-banner-info text-center">
      <p class="mb-4">
        UNSERE WERTE
        <i></i>
      </p>
      <h1 class="">Das macht uns so Besonders!</h1>
    </div>
  </div>

  <div class="left-float">
    <div class="lazyload image-wrapper" style="background-image: url(<%= asset_path('homepage/woman_sitting.jpg') %>);"></div>
    <div class="p-5 value-text-container value-2">
      <h2 class="text-center">
        Transparency
        <i></i>
      </h2>
      <p class="text-center">
        <span>If you want to be trusted be honest.</span>
        FineNailsLondon steht für Transparenz. Wir setzen im Umgang mit unseren Kunden, Mitarbeitern und Lieferanten die höchsten Standards. Wir begegnen unseren Geschäftspartnern ehrlich und respektvoll, dabei steht Vertrauen für uns an erster Stelle.
      </p>
    </div>
    <div class="lazyload image-wrapper" style="background-image: url(<%= asset_path('homepage/pink_manicure.jpg') %>);"></div>
    <div class="lazyload image-wrapper" style="background-image: url(<%= asset_path('homepage/woman_with_statue.jpg') %>); height: 400px;"></div>
  </div>

  <div class="right-float">
    <div class="p-5 value-text-container value-1">
      <h2 class="text-center">
        Authenticity
        <i></i>
      </h2>
      <p class="text-center">
        <span>The courage to be yourself.</span>
        Wir bei FineNailsLondon glauben daran, dass ein Nagellack nicht nur ein Kosmetikprodukt ist, sondern ein Ausdruck deiner Persönlichkeit.
        Wir entwickeln für unsere Kunden Nagelpflege-Produkte, die Ihnen bei dem Ausleben Ihrer Persönlichkeit Unterstützung und Anregung gibt. Express yourself.
        Uns ist es besonders wichtig, Nagelpflege anzubieten, die authentisch ist. FineNailsLondon setzt sich zum Ziel, die Neugier und Erwartungen aller Kunden bei jedem Kauf zu erfüllen. Selbstlos betrachten wir Verhaltensweisen die diesem Anspruch nicht gerecht werden und entwickeln uns und unsere Produkte unermüdlich weiter.
      </p>
    </div>
    <div class="lazyload image-wrapper" style="background-image: url(<%= asset_path('homepage/two_arms_in_air.jpg') %>);"></div>
    <div class="p-5 value-text-container value-3">
      <h2 class="text-center">
        Efficiency
        <i></i>
      </h2>
      <p class="text-center">
        <span>Don’t be busy, be productive.</span>
        Zeit ist das Kostbarste im Leben. Wir nehmen uns die Zeit für die Nägel unserer Kunden, damit sie es nicht tun müssen.
        Unsere FineNailsLondon Produkte ermöglichen eine problemlose, zeitsparende Nagelpflege, mit der jeder unserer Kunden ein Nagelexperte sein kann. Wir verbinden Effizienz mit Beauty und schenken unseren Kunden Zeit zurück, für die wirklich wichtigen Dinge.
      </p>
    </div>
    <div class="lazyload image-wrapper" style="background-image: url(<%= asset_path('homepage/hand_on_wall.jpg') %>); height: 514px;"></div>
  </div>
</div>
