<!-- <div class="container"> -->
  <div class="plain-banner">
    <div class="plain-banner-info text-center">
      <p class="mb-4">
        UNSERE WERTE
        <i></i>
      </p>
      <h1 class="">Das macht uns so Besonders!</h1>
    </div>
  </div>

  <div class="value-1-container">
    <img class="lazyload value-1-img"
            data-src="<%= asset_path('homepage/hand_on_wall.jpg') %>"
            alt="Hand on wall"/>
    <div class="value-heading value-1">
      <p class="mb-0">Authenticity: the courage to be yourself.</p>
    </div>
    <p class="value-content value-1 pl-md-5 pt-4">
      Wir bei FineNailsLondon glauben daran, dass ein Nagellack nicht nur ein Kosmetikprodukt ist, sondern ein Ausdruck deiner Persönlichkeit.
      Wir entwickeln für unsere Kunden Nagelpflege-Produkte, die Ihnen bei dem Ausleben Ihrer Persönlichkeit Unterstützung und Anregung gibt. Express yourself.
      Uns ist es besonders wichtig, Nagelpflege anzubieten, die authentisch ist. FineNailsLondon setzt sich zum Ziel, die Neugier und Erwartungen aller Kunden bei jedem Kauf zu erfüllen. Selbstlos betrachten wir Verhaltensweisen die diesem Anspruch nicht gerecht werden und entwickeln uns und unsere Produkte unermüdlich weiter.
    </p>
  </div>

  <div class="value-2-container">
    <div class="value-heading value-2">
      <p class="mb-0">Transparency: If you want to be trusted be honest.</p>
    </div>
    <img class="lazyload value-2a-img"
            data-src="<%= asset_path('homepage/two_arms_in_air.jpg') %>"
            alt="two arms in air"/>
    <p class="value-content value-2 pr-md-5 py-4">
      FineNailsLondon steht für Transparenz. Wir setzen im Umgang mit unseren Kunden, Mitarbeitern und Lieferanten die höchsten Standards. Wir begegnen unseren Geschäftspartnern ehrlich und respektvoll, dabei steht Vertrauen für uns an erster Stelle.
    </p>
    <img class="lazyload value-2b-img"
            data-src="<%= asset_path('homepage/pink_manicure.jpg') %>"
            alt="pink manicure"/>
  </div>
  <div class="value-3-container">

    <div class="value-heading value-3">
      <p class="mb-0">Efficiency: Don’t be busy, be productive.</p>
    </div>
    <img class="lazyload value-3a-img"
              data-src="<%= asset_path('homepage/hand_on_wall.jpg') %>"
              alt="Hand on wall"/>
    <p class="value-content value-3 pl-md-5 py-4">
      Zeit ist das Kostbarste im Leben. Wir nehmen uns die Zeit für die Nägel unserer Kunden, damit sie es nicht tun müssen.
      Unsere FineNailsLondon Produkte ermöglichen eine problemlose, zeitsparende Nagelpflege, mit der jeder unserer Kunden ein Nagelexperte sein kann. Wir verbinden Effizienz mit Beauty und schenken unseren Kunden Zeit zurück, für die wirklich wichtigen Dinge.
    </p>
    <img class="lazyload value-3b-img"
              data-src="<%= asset_path('homepage/woman_with_statue.jpg') %>"
              alt="Woman with statue"/>
  </div>
<!-- </div> -->
